
  <div class="{{type}}-msg" role="alert" aria-live="assertive" {{attributes}} {{#if dismissable}} data-dismiss {{/if}}>
    <span class="is-visuallyhidden">{{type}} message:</span>
    <div class="{{type}}-msg-text"><span>{{{text}}}</span></div>
  </div>
